<span class="box">
      <div class="titles">
        <h6 class="title categ-name">
          <%= @category.name %>
        </h6>
        <h6 class="title article-title">
          <%= article.title %>
        </h6>
        <p class="title article-text">
          <%= article.text %>
        </p>
        <p class="title article-text">
          By <%= article.author.name %>
        </p>
        <%= vote_unvote_btn(article) %>
      </div>
</span>
