<!DOCTYPE html>
<html>
  <head>
    <title>StoryWeavers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="application">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
   <nav>
      <a href="/" class="nav-logo"><img src="/" alt="logo" class="logo"></a>
      <div class="nav-links">
        <a href="/" class="nav-link">Home</a>
        <a href="/" class="nav-link">Write an Article</a>
      </div>
    </nav>

    <%= flash_msg %>

    <main>
    <%= yield %>
    </main>
    <footer>
      <img src="/" alt="logo" class="logo">
      <div class="privacy-and-copyright">
        <span class="privacy-terms">
          <a href="/" class="privacy">Privacy Policy</a>
          <a href="/" class="terms">Terms & Conditions</a>
        </span>
        <span class="copyright">
          Copyright 2020. All rights reserved.
        </span>
      </div>
      <div class="social">
        <span class="connect">Connect with us:</span>
      </div>
    </footer>
  </body>

</html>
