<!DOCTYPE html>
<html>
  <head>
    <title>StoryWeavers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="application">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
   <nav>
      <a href="/" class="nav-logo"><img src="/" alt="logo" class="logo"></a>
      <div class="nav-links">

        <a href="/" class="nav-link">Home</a>
        <a href="/new_article" class="nav-link">Write an Article</a>

      </div>
      <%= logged_in_as %>
    </nav>

    <%= flash_msg %>

    <main>
    <%= yield %>
    </main>
    <footer>
    <div class="foot-logo">
      <a href="/"><img src="/" alt="logo" class="logo"></a>
      </div>
      <div class="privacy-and-copyright center">
        <span class="privacy-terms">
          <a href="categories/index.html" class="privacy">Privacy Policy</a>
          <a href="/" class="terms">Terms & Conditions</a>
        </span>
        <span class="copyright">
          Copyright 2020. All rights reserved.
        </span>
      </div>
      <div class="social">
        <span class="connect">Connect with me:</span>
        <a href="https://twitter.com/phfdonda"><span class="social-logo center twitter"> <img src="./docs/twitter.png" alt="t"> </span></a>
        <a href="https://github.com/phfdonda"><span class="social-logo center github"><img src="./docs/twitter.png" alt="t"></span></a>
        <a href="https://www.linkedin.com/in/pedro-donda/"><span class="social-logo center linkedin"><img src="./" alt="t"></span></a>
      </div>
    </footer>
  </body>

</html>
